__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.env
.venv/
venv/
.DS_Store

data/raw
data/raw/
data/processed/
artifacts/
mlruns/
mlflow.db

*.csv
*.parquet
*.pkl
*.joblib
*.pptx
*.docx

!reports/**/*.csv
